PORT=3000

ADMIN_KEY=chave-secreta
NUVEMSHOP_APP_SECRET=client-secret-nuvemshop

GC_EMAIL=email-login-gestaoclick
GC_PASSWORD=senha-login-gestaoclick
GESTAOCLICK_URL=https://link-login-gestaoclick

HEADLESS=true
POST_SYNC_WAIT_MS=12000